NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-key-here
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:54322/postgres?sslmode=require&uselibpqcompat=true
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
NINE_ROUTER_API_KEY=your-nine-router-key-here
